<!-- This is just a placeholder. Feel free to do here whatever you would like to. -->
<h1>Search for customers:</h1>
<div>
  <input type="search" [(ngModel)]="searchQuery" />
  <input
    type="submit"
    [disabled]="searchDisabled"
    value="Search"
    (click)="executeSearch()"
  />
  <input type="submit" value="Clear" (click)="clearSearch()" />
</div>
<div>
  <ng-container *ngIf="customers$ | async as customers">
    <ul *ngIf="customers.length > 0; else empty">
      <app-save
        [reportLines]="customers"
        [saveFormat]="saveFormat.csv"
        [fileName]="this.searchQuery"
        >csv</app-save
      >
      <app-save
        [reportLines]="customers"
        [saveFormat]="saveFormat.xls"
        [fileName]="this.searchQuery"
        >xls</app-save
      >
      <li *ngFor="let customer of customers">
        <ng-container [ngSwitch]="customer.type">
          <ng-template [ngSwitchCase]="customerType.user">
            😎
          </ng-template>
          <ng-template [ngSwitchCase]="customerType.merchant">
            🏭
          </ng-template>
        </ng-container>
        <strong>{{ customer.name }}</strong> {{ customer.code }}
      </li>
    </ul>
    <ng-template #empty><div>no result</div></ng-template>
  </ng-container>
</div>
